.sachin_song_after_click{
    display: none;
    border-radius: 10px;
    background: linear-gradient(360deg, rgba(11, 11, 11, 0.748) 35%, rgb(96, 87, 87)70%, rgb(202, 16, 6) 100%);
}

.box2_sachin_song_scrobble_part {
   overflow: scroll;
   height: 45vh;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.box2_sachin_song_scrobble_part::-webkit-scrollbar {
    width: 0px;
}

.sachin_song_after_click_l1 {
    background: linear-gradient(135deg, rgb(103, 98, 98)10% , #252020 60%, rgb(19, 4, 4) 100%);
    width: 100%;
    height: 35vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sachin_song_after_click_l1_img {
    display: flex;
    width: 1200px;
}


.sachin_song_after_click_l1_p1_a {
    font-size: 18px;
}

.sachin_song_after_click_l1_p1_b {
    font-size: 6rem;
    font-weight: bolder;

}

.sachin_song_after_click_l1_p1_c {
    margin-top: 10px;
}

.sachin_song_after_click_l1_p1 {
    margin-top: 5%;

}

.sachin_song_after_click_l1_img img {
    border-radius: 10px;
    margin: 2%;
    width: 18%;
    box-shadow: 0px 2px 20px rgb(99, 34, 4);
}


.sachin_song_after_click_l2 {
    display: flex;
    width: 100%;
    height: 14vh;
}

.sachin_song_after_click_l2_a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 22%;
    height: 15vh;
}

.sachin_song_after_click_l2_a img {
    cursor: pointer;
    width: 23%;
}

.sachin_song_after_click_l2_b {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    width: 78%;
    height: 15vh;

}

.sachin_song_after_click_l2_a_1stIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    border-radius: 100%;
    font-size: 20px;
    padding: 10px;
}

#sachin_song_after_click_l2_a_2ndIcon {
    cursor: pointer;
    font-size: 25px;
    color: rgb(187, 187, 187);
}

#sachin_song_after_click_l2_a_3rdIcon {
    cursor: pointer;
    font-size: 28px;
    color: rgb(187, 187, 187);
}

#sachin_song_after_click_l2_b_icon {
    margin-right: 20px;
    cursor: pointer;
}

#sachin_song_after_click_l2_a_2ndIcon:hover {
    color: white;
}

#sachin_song_after_click_l2_a_3rdIcon:hover {
    color: white;
}


.sachin_song_after_click_l3_a {
    margin-left: 5%;
    width: 30%;
}

.sachin_song_after_click_l3_b {
    display: flex;
    width: 25%;
}

.sachin_song_after_click_l3_c {
    display: flex;
    width: 20%;
}

.sachin_song_after_click_l3_d {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-left: 20px;
}


.sachin_song_after_click_l3 {
    display: flex;
    color: rgb(209, 209, 209);
}

.hoverItem {
    display: block;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 20px;
}

.hoverItem :hover {
    display: block;
}


.sachin_song_after_click_l4 {
    display: flex;
    margin: 20px;
    margin-bottom: 0PX;
    height: 15%;
    border-radius: 10px;

}

.sachin_song_after_click_l4:hover {
    background-color: rgba(61, 60, 60, 0.421);
}

.sachin_song_after_click_l4:hover .Liked_song_after_click_l4_a_hide {
    display: block;
}

.sachin_song_after_click_l4:hover .Liked_song_after_click_l4_a_visiable {
    display: none;
}

.sachin_song_after_click_l4_a {
    display: flex;
    align-items: center;
    width: 33%;
    margin-right: 3%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.sachin_song_after_click_l4_a_hide {
    cursor: pointer;
    margin-left: 15px;
    font-size: 16px;
    display: none;
}

.sachin_song_after_click_l4_a_visiable {
    margin-left: 20px;
    display: block;
}

.sachin_song_after_click_l4_a img {
    width: 45px;
    height: 80%;
    margin-left: 16px;
    border-radius: 5px;
}

.sachin_song_after_click_l4_a_p2_a{
    cursor: pointer;
    font-size: 17px;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.807);
}

.sachin_song_after_click_l4_a_p2_a:hover{
    text-decoration: underline;
}

.sachin_song_after_click_l4_a_p2_b{
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.807);
}

.sachin_song_after_click_l4_a_p2_b:hover{
    text-decoration: underline;
}


.sachin_song_after_click_l4_b{
    cursor: pointer;
    display: flex;
    color: rgb(171, 169, 169);
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 26%;
    height: 100%;
   
}

.sachin_song_after_click_l4_b:hover{
    text-decoration: underline;
}

.d {
    display: flex;
    color: rgb(171, 169, 169);
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 100%;
}


.e {
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(171, 169, 169);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
}