.box2_main_page {
    display: block;
}

.box2_main_page_l1 {
    margin: 15px;
}

.box2_main_page_scollablePart {
    overflow: scroll;
    height: 73vh;
}

.box2_main_page_scollablePart::-webkit-scrollbar {
    width: 0px;
}

#box2_main_page_l1_all {
    cursor: pointer;
    color: black;
    margin-left: 2%;
    padding: 5px;
    width: 5%;
    margin-right: 1%;
    border: solid 0px black;
    border-radius: 20px;
    font-size: 16px;
    height: 35px;
}

#box2_main_page_l1_music {
    cursor: pointer;
    padding: 5px;
    width: 70px;
    margin-right: 1%;
    border: solid 0px black;
    background-color: rgb(59, 56, 56);
    color: white;
    height: 35px;
    border-radius: 20px;
    font-size: 16px;

}

#box2_main_page_l1_podcast {
    cursor: pointer;
    padding: 5px;
    width: 100px;
    border: solid 0px black;
    background-color: rgb(59, 56, 56);
    color: white;
    height: 35px;
    border-radius: 20px;
    font-size: 16px;
}

.box2_main_page_l2 {
    margin-bottom: 20px;
}

.box2_main_page_l2_p1 {
    display: flex;
    gap: 7px;
    width: 93%;
    height: 6vh;
    margin-left: 4%;
    margin-top: 20px;
}

.box2_main_page_l2_p1_a {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p1_a:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l2_p1_a:hover {
    background: linear-gradient(135deg, rgb(81, 12, 241) 15%, rgb(112, 61, 163)56%, rgb(248, 238, 252));
}

.box2_main_page_l2_p1_a_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/liked\ icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}


.box2_main_page_l2_p1_a_block2 {
    margin-left: 5px;
    font-weight: bold;
    color: rgb(241, 241, 240);
    font-size: 15px;
}

.box2_main_page_l2_p1_a_block3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.box2_main_page_play_pause {
    display: none;
}

.hidden_part {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding-left: 9px;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-top: 4px;
    background-color: rgb(5, 206, 8);
    font-size: 20px;
    color: black;
}

.box2_main_page_l2_p2 {
    display: flex;
    gap: 7px;
    width: 93%;
    height: 6vh;
    margin-left: 4%;
    margin-top: 7px;
}



.box2_main_page_l2_p1_b {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p1_b:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l2_p1_b:hover {
    background: linear-gradient(135deg, rgb(88, 86, 86) 20%, rgb(37, 37, 36)75%, rgb(136, 128, 122));
}

.box2_main_page_l2_p1_b_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/bollywood.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}


.box2_main_page_l2_p1_b_block2 {
    margin-left: 5px;
    width: 45%;
    font-weight: bold;
    color: rgb(241, 241, 240);
    font-size: 15px;
}

.box2_main_page_l2_p1_b_block3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.box2_main_page_play_pause {
    display: none;
}

.hidden_part {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding-left: 9px;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-top: 4px;
    background-color: rgb(5, 206, 8);
    font-size: 20px;
    color: black;
}

.box2_main_page_l2_p2 {
    display: flex;
    gap: 7px;
    width: 93%;
    height: 6vh;
    margin-left: 4%;
    margin-top: 7px;
}




.box2_main_page_l2_p1_c {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p1_c:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l2_p1_c:hover {
    background: linear-gradient(135deg, rgb(169, 133, 17) 20%, rgb(79, 61, 12)65%, rgb(216, 124, 32));
}

.box2_main_page_l2_p1_c_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/19281041119ff21e2834e09e0e06118d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}


.box2_main_page_l2_p1_c_block2 {
    margin-left: 5px;
    width: 45%;
    font-weight: bold;
    color: rgb(241, 241, 240);
    font-size: 15px;
}

.box2_main_page_l2_p1_c_block3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.box2_main_page_play_pause {
    display: none;
}

.hidden_part {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding-left: 9px;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-top: 4px;
    background-color: rgb(5, 206, 8);
    font-size: 20px;
    color: black;
}

.box2_main_page_l2_p2 {
    display: flex;
    gap: 7px;
    width: 93%;
    height: 6vh;
    margin-left: 4%;
    margin-top: 7px;
}


.box2_main_page_l2_p1_d {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p1_d:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l2_p1_d:hover {
    background: linear-gradient(135deg, rgb(49, 125, 218) 10%, rgb(225, 176, 41)55%, rgb(135, 75, 15));
}

.box2_main_page_l2_p1_d_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/pahadi\ songs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}


.box2_main_page_l2_p1_d_block2 {
    margin-left: 5px;
    width: 45%;
    font-weight: bold;
    color: rgb(241, 241, 240);
    font-size: 15px;
}

.box2_main_page_l2_p1_d_block3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.box2_main_page_play_pause {
    display: none;
}

.hidden_part {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding-left: 9px;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-top: 4px;
    background-color: rgb(5, 206, 8);
    font-size: 20px;
    color: black;
}

.box2_main_page_l2_p2 {
    display: flex;
    gap: 7px;
    width: 93%;
    height: 6vh;
    margin-left: 4%;
    margin-top: 7px;
}

.box2_main_page_l2_p2_a {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p2_a_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/Anuv_Jain.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}


.box2_main_page_l2_p2_a:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l2_p2_a:hover {
    background: linear-gradient(135deg, rgb(41, 42, 43) 30%, rgb(114, 102, 102)55%, rgb(45, 43, 40));
}

.box2_main_page_l2_p2_b {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p2_b_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/Gym\ Phork.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}

.box2_main_page_l2_p2_b:hover {
    background: linear-gradient(135deg, rgba(57, 27, 27, 0.849) 30%, rgb(12, 5, 5)55%, rgb(40, 5, 5));
}


.box2_main_page_l2_p2_b:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l2_p2_c {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p2_c_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/karan-aujla.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}

.box2_main_page_l2_p2_c:hover {
    background: linear-gradient(135deg, rgb(168, 169, 170) 30%, rgb(31, 11, 8)55%, rgb(101, 99, 95));
}


.box2_main_page_l2_p2_c:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l2_p2_d {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(63, 62, 62, 0.642);
}

.box2_main_page_l2_p2_d_block1 {
    width: 25%;
    background-image: url("../box2_main_background_images/mahabharat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}

.box2_main_page_l2_p2_d:hover {
    background: linear-gradient(134deg, rgb(10, 58, 105) 30%, rgb(172, 167, 167)65%, rgb(49, 22, 9));
}


.box2_main_page_l2_p2_d:hover .box2_main_page_play_pause {
    display: block;
}

.box2_main_page_l3 {
    display: block;
}

.box2_main_page_l3_a {
    margin-left: 30px;
    margin-top: 4%;
    color: rgb(167, 163, 163);
}

.box2_main_page_l3_b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2_main_page_l3_b_p1 {
    cursor: pointer;
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.box2_main_page_l3_b_p1:hover {
    text-decoration: underline;
}


.box2_main_page_l3_b_p2 {
    cursor: pointer;
    margin-right: 30px;
    font-weight: bold;
    color: rgba(207, 202, 202, 0.811);
}

.box2_main_page_l3_b_p2:hover {
    text-decoration: underline;
}

.box2_main_page_l4 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 32vh;
    width: 800px;
    overflow: scroll;

}

.box2_main_page_l4::-webkit-scrollbar {
    width: 0px;
}


.box2_main_page_l4_a {
    padding: 10px;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    height: 90%;
    margin-left: 1%;
}

.box2_main_page_l4_a:hover {
    background-color: rgb(23, 23, 23);
}

.box2_main_page_l4_a:hover .box2_main_page_l4_a_p1_hiddenPart_maiContainer {
    display: block;
}

.box2_main_page_l4_a_p1 {
    background-image: url("../box2_main_background_images/1st_main_l4\ \(2\).png");
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 78%;
}

.box2_main_page_l4_a_p2 {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: rgb(182, 178, 178);
}

.box2_main_page_l4_a_p1_hiddenPart {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    align-items: center;
    height: 50px;
    background-color: rgb(40, 230, 40);
    width: 50px;
    border-radius: 100%;
    color: black;
    font-size: 21px;
    transition: scale 0.3s;
}

.box2_main_page_l4_a_p1_hiddenPart:hover {
    scale: 1.1;
}

.box2_main_page_l4_a_p1_hiddenPart_maiContainer {
    display: none;
}


.box2_main_page_l4_b_p1 {
    background-image: url("../box2_main_background_images/2nd_main_l4\ \(2\).png");
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 78%;
}



.box2_main_page_l4_c_p1 {
    background-image: url("../box2_main_background_images/3rd_main_l4\ \(3\).png");
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 78%;
}



.box2_main_page_l4_d_p1 {
    background-image: url("../box2_main_background_images/4th_main_l4\ \(4\).png");
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 78%;
}


.box2_main_page_l5 {
    margin-left: 20px;
    height: 35vh;
}

.box2_main_page_l5_a {
    margin-left: 10px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box2_main_page_l5_b {
    display: flex;
    gap: 10px;
    align-items: center;
}

.box2_main_page_l5_a_p1 {
    font-size: 23px;
    font-weight: bold;
}

.box2_main_page_l5_a_p1:hover {
    text-decoration: underline;
}

.box2_main_page_l5_a_p2 {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
    color: rgb(147, 146, 146);
}

.box2_main_page_l5_a_p2:hover {
    text-decoration: underline;
}



.box2_main_page_l5_b {
    cursor: pointer;
    width: 100%;
    gap: 10px;
    height: 80%;
    color: rgba(207, 202, 202, 0.811);
}


.box2_main_page_l5_b_p1 {
    padding: 10px;
    width: 160px;
    height: 100%;
    border-radius: 10px;
}


.box2_main_page_l5_b_p1:hover {
    background-color: rgba(25, 24, 24, 0.675);

}


.box2_main_page_l5_b_p1:hover .box2_main_page_l5_b_p1_a_hiddenPart_maiContainer {
    display: block;
}


.box2_main_page_l5_b_p1_a {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url("../box2_main_background_images/pahadi\ songs.jpg");
    height: 70%;
    border-radius: 10px;
    background-size: cover;
}


.box2_main_page_l5_b_p1_a_hiddenPart {
    background-color: rgb(28, 224, 28);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 100%;
    font-size: 22px;
    color: black;
    transition: scale 0.5s;
}


.box2_main_page_l5_b_p1_a_hiddenPart:hover {
    scale: 1.1;
}

.box2_main_page_l5_b_p1_a_hiddenPart_maiContainer {
    display: none;
}

.box2_main_page_l5_b_p1_b {
    color: rgb(175, 175, 175);
    margin-top: 10px;
}


.box2_main_page_l5_b_p2 {
    padding: 10px;
    width: 160px;
    height: 100%;
    border-radius: 10px;
}


.box2_main_page_l5_b_p2:hover {
    background-color: rgba(25, 24, 24, 0.675);

}


.box2_main_page_l5_b_p2:hover .box2_main_page_l5_b_p2_a_hiddenPart_maiContainer {
    display: block;
}


.box2_main_page_l5_b_p2_a {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url("../box2_main_background_images/liked\ icon.png");
    height: 70%;
    border-radius: 10px;
    background-size: cover;
}


.box2_main_page_l5_b_p2_a_hiddenPart {
    background-color: rgb(28, 224, 28);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 100%;
    font-size: 22px;
    color: black;
    transition: scale 0.5s;
}


.box2_main_page_l5_b_p2_a_hiddenPart:hover {
    scale: 1.1;
}

.box2_main_page_l5_b_p2_a_hiddenPart_maiContainer {
    display: none;
}

.box2_main_page_l5_b_p2_b {
    color: rgb(175, 175, 175);
    margin-top: 10px;
}

.box2_main_page_l5_b_p3 {
    padding: 10px;
    width: 160px;
    height: 100%;
    border-radius: 10px;
}

.box2_main_page_l5_b_p3:hover {
    background-color: rgba(25, 24, 24, 0.675);

}


.box2_main_page_l5_b_p3:hover .box2_main_page_l5_b_p3_a_hiddenPart_maiContainer {
    display: block;
}


.box2_main_page_l5_b_p3_a {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url("../box2_main_background_images/karan-aujla.webp");
    height: 70%;
    border-radius: 10px;
    background-size: cover;
}


.box2_main_page_l5_b_p3_a_hiddenPart {
    background-color: rgb(28, 224, 28);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 100%;
    font-size: 22px;
    color: black;
    transition: scale 0.5s;
}


.box2_main_page_l5_b_p3_a_hiddenPart:hover {
    scale: 1.1;
}

.box2_main_page_l5_b_p3_a_hiddenPart_maiContainer {
    display: none;
}

.box2_main_page_l5_b_p3_b {
    color: rgb(175, 175, 175);
    margin-top: 10px;
}

.box2_main_page_l5_b_p4 {
    padding: 10px;
    width: 160px;
    height: 100%;
    border-radius: 10px;
}

.box2_main_page_l5_b_p4:hover {
    background-color: rgba(25, 24, 24, 0.675);

}


.box2_main_page_l5_b_p4:hover .box2_main_page_l5_b_p4_a_hiddenPart_maiContainer {
    display: block;
}


.box2_main_page_l5_b_p4_a {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url("../box2_main_background_images/Gym\ Phork.jpg");
    height: 70%;
    border-radius: 10px;
    background-size: cover;
}


.box2_main_page_l5_b_p4_a_hiddenPart {
    background-color: rgb(28, 224, 28);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 100%;
    font-size: 22px;
    color: black;
    transition: scale 0.5s;
}


.box2_main_page_l5_b_p4_a_hiddenPart:hover {
    scale: 1.1;
}

.box2_main_page_l5_b_p4_a_hiddenPart_maiContainer {
    display: none;
}

.box2_main_page_l5_b_p4_b {
    color: rgb(175, 175, 175);
    margin-top: 10px;
}


.box2_main_page_l5_b_p5 {
    padding: 10px;
    width: 160px;
    height: 100%;
    border-radius: 10px;
}

.box2_main_page_l5_b_p5:hover {
    background-color: rgba(25, 24, 24, 0.675);

}


.box2_main_page_l5_b_p5:hover .box2_main_page_l5_b_p5_a_hiddenPart_maiContainer {
    display: block;
}


.box2_main_page_l5_b_p5_a {
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url("../box2_main_background_images/mahabharat.jpg");
    height: 70%;
    border-radius: 10px;
    background-size: cover;
}


.box2_main_page_l5_b_p5_a_hiddenPart {
    background-color: rgb(28, 224, 28);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 100%;
    font-size: 22px;
    color: black;
    transition: scale 0.5s;
}


.box2_main_page_l5_b_p5_a_hiddenPart:hover {
    scale: 1.1;
}

.box2_main_page_l5_b_p5_a_hiddenPart_maiContainer {
    display: none;
}

.box2_main_page_l5_b_p5_b {
    color: rgb(175, 175, 175);
    margin-top: 10px;
}

.box2_main_page_l6 {
    height: 73vh;
    overflow: scroll;
    margin-left: 30px;
    margin-right: 30px;
}

.box2_main_page_l6::-webkit-scrollbar {
    width: 0px;
}

.box2_main_page_l6_p1 {
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.box2_main_page_l6_p2 {
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.box2_main_page_l6_p1_a {
     display: grid; /*none ki jagh grid karna h  */
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(135deg, rgb(42, 43, 42)20%, rgb(100, 64, 13)56%, rgb(32, 54, 34));
    width: 49%;
    height: 100%;
}



.box2_main_page_l6_p1_a:hover .box2_main_page_l6_p1_a_4 {
    display: block;
}

.box2_main_page_l6_p1_b {
     display: grid;
    border-radius: 10px;
    background-color: aqua;
    width: 48%;
    height: 100%;
}

.box2_main_page_l6_p1_a_1 {
    display: flex;
    align-items: center;
    height: 13vh;
    gap: 10px;

}

.box2_main_page_l6_p1_a_1_part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 38);
    width: 30%;
    height: 100%;
}

.box2_main_page_l6_p1_a_1_part1 img {
    border-radius: 6px;
    width: 80%;
}


.box2_main_page_l6_p1_a_1_part2_a {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: rgb(222, 220, 220);
}

.box2_main_page_l6_p1_a_1_part2_a:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p1_a_1_part2_b {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: rgb(222, 220, 220);
}

.box2_main_page_l6_p1_a_1_part2_b:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p1_a_1_part2_c {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.box2_main_page_l6box2_main_page_l6_p1_a_1_part2_c_p1_a_1_part2_c_1 {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p1_a_1_part2_c_p1_a_1_part2_c_2 {
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p1_a_1_part2_c_p1_a_1_part2_c_2:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p1_a_2 {
    height: 20vh;
}

.box2_main_page_l6_p1_a_2 img {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 12px;
    height: 26vh;
    width: 95%;
}

.box2_main_page_l6_p1_a_3 {
    margin-top: 10%;
    height: 10vh;
    margin: 10px;
}



.box2_main_page_l6_p1_a_4 {
    display: none;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.box2_main_page_l6_p1_a_4_hidden {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.box2_main_page_l6_p1_a_4_hidden_p1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2_main_page_l6_p1_a_4_hidden_btn{
  padding: 9px 24px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg , rgb(26, 25, 25)10% ,rgb(165, 125, 54)50%, rgb(230, 191, 50)70% , rgb(183, 243, 17)); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); 
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#box2_main_page_l6_p1_a_4_hidden_btn:hover {
  background: linear-gradient(135deg , rgb(47, 45, 45)10% ,rgb(209, 158, 69)50%, rgb(247, 205, 54)70% , rgb(192, 255, 18));
  transform: scale(1.05);
}


.box2_main_page_l6_p1_a_4_hidden_p2{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 70px;
}

.box2_main_page_l6_p1_a_4_hidden_p2 div{
    cursor: pointer;
    color: rgb(24, 24, 24);
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 100%;
}


.box2_main_page_l6_p1_b {
    display: grid;
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(135deg, rgb(1, 1, 1)10%, rgb(75, 9, 9)56%, rgb(167, 14, 14)80%,rgb(26, 0, 0));
    width: 49%;
    height: 100%;
}



.box2_main_page_l6_p1_b:hover .box2_main_page_l6_p1_b_4 {
    display: block;
}


.box2_main_page_l6_p1_b_1 {
    display: flex;
    align-items: center;
    height: 13vh;
    gap: 10px;

}

.box2_main_page_l6_p1_b_1_part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.box2_main_page_l6_p1_b_1_part1 img {
    border-radius: 6px;
    width: 80%;
}


.box2_main_page_l6_p1_b_1_part2_a {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: rgb(222, 220, 220);
}

.box2_main_page_l6_p1_b_1_part2_a:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p1_b_1_part2_b {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: rgb(222, 220, 220);
}

.box2_main_page_l6_p1_b_1_part2_b:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p1_b_1_part2_c {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.box2_main_page_l6box2_main_page_l6_p1_b_1_part2_c_p1_a_1_part2_c_1 {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p1_b_1_part2_c_p1_a_1_part2_c_2 {
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p1_b_1_part2_c_p1_a_1_part2_c_2:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p1_b_2 {
    height: 20vh;
}

.box2_main_page_l6_p1_b_2 img {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 12px;
    height: 26vh;
    width: 95%;
}

.box2_main_page_l6_p1_b_3 {
    margin-top: 10%;
    height: 10vh;
    margin: 10px;
}



.box2_main_page_l6_p1_b_4 {
    display: none;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.box2_main_page_l6_p1_b_4_hidden {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.box2_main_page_l6_p1_b_4_hidden_p1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2_main_page_l6_p1_b_4_hidden_btn{
  padding: 9px 24px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg , rgb(126, 43, 43)20% ,rgb(150, 25, 25)40%, rgb(154, 13, 13)70% , rgb(41, 1, 1)); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); 
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#box2_main_page_l6_p1_b_4_hidden_btn:hover {
   background: linear-gradient(135deg , rgb(176, 60, 60)20% ,rgb(192, 32, 32)40%, rgb(190, 16, 16)70% , rgb(67, 2, 2));
  transform: scale(1.05);
}


.box2_main_page_l6_p1_b_4_hidden_p2{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 70px;
}

.box2_main_page_l6_p1_b_4_hidden_p2 div{
    cursor: pointer;
    color: rgb(24, 24, 24);
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 100%;
}

.box2_main_page_l6_p2_a {
    display: grid;
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(135deg, rgb(26, 113, 234)10%, rgb(4, 23, 167)56%, rgb(6, 14, 164)80%,rgb(14, 2, 146));
    width: 49%;
    height: 100%;
}



.box2_main_page_l6_p2_a:hover .box2_main_page_l6_p2_a_4 {
    display: block;
}


.box2_main_page_l6_p2_a_1 {
    display: flex;
    align-items: center;
    height: 13vh;
    gap: 10px;

}

.box2_main_page_l6_p2_a_1_part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.box2_main_page_l6_p2_a_1_part1 img {
    border-radius: 6px;
    width: 80%;
}


.box2_main_page_l6_p2_a_1_part2_a {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.box2_main_page_l6_p2_a_1_part2_a:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p2_a_1_part2_b {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.box2_main_page_l6_p2_a_1_part2_b:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p2_a_1_part2_c {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.box2_main_page_l6box2_main_page_l6_p2_a_1_part2_c_p1_a_1_part2_c_1 {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p2_a_1_part2_c_p1_a_1_part2_c_2 {
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p2_a_1_part2_c_p1_a_1_part2_c_2:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p2_a_2 {
    height: 20vh;
}

.box2_main_page_l6_p2_a_2 img {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 12px;
    height: 26vh;
    width: 95%;
}

.box2_main_page_l6_p2_a_3 {
    margin-top: 10%;
    height: 10vh;
    margin: 10px;
}



.box2_main_page_l6_p2_a_4 {
    display: none;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.box2_main_page_l6_p2_a_4_hidden {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.box2_main_page_l6_p2_a_4_hidden_p1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2_main_page_l6_p2_a_4_hidden_btn{
  padding: 9px 24px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg , rgb(126, 43, 43)20% ,rgb(150, 25, 25)40%, rgb(154, 13, 13)70% , rgb(41, 1, 1)); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); 
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#box2_main_page_l6_p2_a_4_hidden_btn:hover {
   background: linear-gradient(135deg , rgb(176, 60, 60)20% ,rgb(192, 32, 32)40%, rgb(190, 16, 16)70% , rgb(67, 2, 2));
  transform: scale(1.05);
}


.box2_main_page_l6_p2_a_4_hidden_p2{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 70px;
}

.box2_main_page_l6_p2_a_4_hidden_p2 div{
    cursor: pointer;
    color: rgb(24, 24, 24);
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 100%;
}

.box2_main_page_l6_p2_b {
    display: grid;
    border-radius: 10px;
    align-items: center;
    background: linear-gradient(135deg, rgb(232, 7, 7)10%, rgb(96, 1, 1)56%, rgb(78, 4, 4)80%);
    height: 100%;
    width: 49%;
}



.box2_main_page_l6_p2_b:hover .box2_main_page_l6_p2_b_4 {
    display: block;
}


.box2_main_page_l6_p2_b_1 {
    display: flex;
    align-items: center;
    height: 13vh;
    gap: 10px;

}

.box2_main_page_l6_p2_b_1_part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.box2_main_page_l6_p2_b_1_part1 img {
    border-radius: 6px;
    width: 80%;
}


.box2_main_page_l6_p2_b_1_part2_a {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.box2_main_page_l6_p2_b_1_part2_a:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p2_b_1_part2_b {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.box2_main_page_l6_p2_b_1_part2_b:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p2_b_1_part2_c {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.box2_main_page_l6box2_main_page_l6_p2_b_1_part2_c_p1_a_1_part2_c_1 {
    color: rgb(196, 196, 196);
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p2_b_1_part2_c_p1_a_1_part2_c_2 {
    font-size: 15px;
}

.box2_main_page_l6box2_main_page_l6_p2_b_1_part2_c_p1_a_1_part2_c_2:hover {
    text-decoration: underline;
}

.box2_main_page_l6_p2_b_2 {
    height: 20vh;
}

.box2_main_page_l6_p2_b_2 img {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 12px;
    height: 26vh;
    width: 95%;
}

.box2_main_page_l6_p2_b_3 {
    margin-top: 10%;
    height: 10vh;
    margin: 10px;
}



.box2_main_page_l6_p2_b_4 {
    display: none;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.box2_main_page_l6_p2_b_4_hidden {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.box2_main_page_l6_p2_b_4_hidden_p1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2_main_page_l6_p2_b_4_hidden_btn{
  padding: 9px 24px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg , rgb(191, 38, 38)20% , rgb(100, 3, 3)); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); 
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#box2_main_page_l6_p2_b_4_hidden_btn:hover {
   background: linear-gradient(135deg , rgb(176, 60, 60)20% ,rgb(192, 32, 32)40%, rgb(190, 16, 16)70% , rgb(67, 2, 2));
  transform: scale(1.05);
}


.box2_main_page_l6_p2_b_4_hidden_p2{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 70px;
}

.box2_main_page_l6_p2_b_4_hidden_p2 div{
    cursor: pointer;
    color: rgb(24, 24, 24);
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 100%;
}
