.main_body {
    margin-top: 10px;
    width: 100%;
    height: 80vh;
    display: flex;
    gap: 10px;
}


.box1 {
    margin-left: 10px;
    background : linear-gradient(135deg , rgba(62, 61, 61, 0.589)3% , rgb(0, 0, 0));
    border-radius: 10px;
    width: 21%;
    height: 100%;

}

.Scroollable_part {
    height: 65vh;
    overflow: scroll;
}

.Scroollable_part::-webkit-scrollbar {
    width: 0px;
}

.box1_l1 {
    display: flex;
    justify-content: space-between;
}

.box1_l1_a {
    font-size: 17px;
    font-weight: bolder;
    padding: 20px;
}

.box1_l1_b {
    margin: 15px;
    font-size: 17px;
    color: rgb(180, 178, 178);
    cursor: pointer;
    border-radius: 100%;
    padding: 7px;
    border: solid 1px rgb(61, 60, 60);
}

.box1_l1_b:hover {
    background-color: rgb(71, 71, 71);
    color: white;
}

.box1_l2 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    height: 8vh;
    width: 320px;
    white-space: nowrap;
}

.box1_l2::-webkit-scrollbar {
    height: 6px;
}

.box1_l2 button {
    flex: 0 0 auto;
}

.box1_l2_button1 {
    cursor: pointer;
    width: 80px;
    margin-top: 10px;
    background-color: rgb(51, 50, 50);
    margin-left: 20px;
    color: white;
    font-size: 15px;
    height: 32px;
    border: solid 0px gray;
    border-radius: 15px;
}

.box1_l2_button1:hover {
    background-color: rgb(72, 69, 69);
}

.box1_l2_button2 {
    cursor: pointer;
    margin-left: 5px;
    width: 70px;
    margin-top: 10px;
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: 15px;
    height: 32px;
    border: solid 0px gray;
    border-radius: 15px;
}

.box1_l2_button2:hover {
    background-color: rgb(72, 69, 69);
}

.box1_l2_button3 {
    cursor: pointer;
    margin-left: 5px;
    width: 80px;
    margin-top: 10px;
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: 15px;
    height: 32px;
    border: solid 0px gray;
    border-radius: 15px;
}

.box1_l2_button3:hover {
    background-color: rgb(72, 69, 69);
}

.box1_l2_button4 {
    cursor: pointer;
    margin-left: 5px;
    width: 60px;
    margin-top: 10px;
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: 15px;
    height: 32px;
    border: solid 0px gray;
    border-radius: 15px;
}

.box1_l2_button4:hover {
    background-color: rgb(72, 69, 69);
}

.box1_l2 div {
    width: 1000px;
    height: 8vh;
    overflow: scroll;
}

.box1_l2 div::-webkit-scrollbar {
    width: 0px;
}

.box1_l3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: rgb(180, 180, 180);
}

.box1_l3_a {
    margin-left: 17px;
    cursor: pointer;
    transition: scale 0.4s;
}

.box1_l3_a:hover {
    color: white;
    scale: 1.1;
}


.box1_l3_b {
    cursor: pointer;
    transition: scale 0.4s;
}

.box1_l3_b:hover {
    color: white;
    scale: 1.1;
}

.box1_l4 {
    margin-left: 10px;
    display: flex;
    height: 13%;
    border-radius: 10px;
    margin-top: 20px;
    
}

.box1_l4:hover {
    background-color: rgb(43, 42, 42);
}


.box1_l4:hover .box1_l4_a_img_hover {
    display: block;
    background-color: rgba(47, 47, 47, 0.5);
    background-blend-mode: multiply;
}


.box1_l4_a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.box1_l4_b {
    margin-left: 2%;
    width: 55%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box1_l4_a_img {
    background-image: url("../main/search_icon_Photos/liked\ icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
}


.box1_l4_a_img_hover {
    display: none;
    width: 100px;
    height: 90%;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 7px;

}


.box1_l4_b_p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgb(214, 212, 212);
    margin-top: 10px;
    margin-bottom: 0%;

}

.box1_l4_b_p2 {
    font-size: 14px;
    margin-top: 2px;
    color: rgb(170, 170, 170);

}



.box1_l5:hover .box1_l5_a_img_hover {
    display: block;
    background-color: rgba(47, 47, 47, 0.5);
    background-blend-mode: multiply;
}

.box1_l5 {
    margin-left: 10px;
    display: flex;
    height: 13%;
    border-radius: 10px;
    margin-top: 10px;
}

.box1_l5:hover {
    background-color: rgb(43, 42, 42);
}

.box1_l5_a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.box1_l5_b {
    margin-left: 2%;
    width: 55%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box1_l5_a_img {
    background-image: url("../main/search_icon_Photos/bollywood.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;

}

.box1_l5_a_img_hover {
    display: none;
    width: 100px;
    height: 90%;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 7px;

}


.box1_l5_b_p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgb(214, 212, 212);
    margin-top: 10px;
    margin-bottom: 0%;

}

.box1_l5_b_p2 {
    font-size: 14px;
    margin-top: 2px;
    color: rgb(170, 170, 170);

}



.box1_l6:hover .box1_l6_a_img_hover {
    display: block;
    background-color: rgba(47, 47, 47, 0.5);
    background-blend-mode: multiply;
}

.box1_l6 {
    margin-left: 10px;
    display: flex;
    height: 13%;
    border-radius: 10px;
    margin-top: 10px;
}

.box1_l6:hover {
    background-color: rgb(43, 42, 42);
}

.box1_l6_a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.box1_l6_b {
    margin-left: 2%;
    width: 55%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box1_l6_a_img {
    background-image: url("../main/search_icon_Photos/arijit-singh-net-worth.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 30px;

}

.box1_l6_a_img_hover {
    display: none;
    width: 100px;
    height: 90%;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 7px;

}


.box1_l6_b_p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgb(214, 212, 212);
    margin-top: 10px;
    margin-bottom: 0%;

}

.box1_l6_b_p2 {
    font-size: 14px;
    margin-top: 2px;
    color: rgb(170, 170, 170);

}

.box1_l7_a_img {
    background-image: url("../main/search_icon_Photos/pahadi\ songs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;

}


.box1_l8_a_img {
    background-image: url("../main/search_icon_Photos/Anuv\ Jain.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 100px;

}

.box1_l9_a_img {
    background-image: url("../main/search_icon_Photos/Gym\ Phork.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;

}

.box1_l10_a_img {
    background-image: url("../main/search_icon_Photos/karan-aujla.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 100px;
}

.box1_l11_a_img {
    background-image: url("../main/search_icon_Photos/mahabharat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
}